@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&family=Saira+Stencil+One&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  max-width: 1356px;
  overflow-x: hidden;
}

.container {
  /* margin: auto 5%; */
  width: 100vw;
}

/* navbar==== */
nav h1 {
  font-family: 'Sacramento', cursive;
  font-weight: 300;
  font-size: 40px;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 90px 20px 90px;
  backdrop-filter: blur(20px);
  list-style-type: none;
  background-color: #1E2225;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 40px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.home-section {
  margin-left: 400px;
  margin-top: 200px;
  font-family: 'poppins', sans-serif;
  height: 100vh;
  position: relative;
}

.home-section p {
  font-size: 2rem;
  color: orangered;
}

.home-section h1 {
  font-size: 3rem;
}

.home-section h4 {
  font-style: 1rem;
  font-weight: normal;
}

.project-head h1 {
  font-size: 3rem;
}

.project-head h2 {
  font-size: 1.5rem;
  color: orangered;
}

/* project body  */
.project-section {
  margin: 5%;
  margin-bottom: 0px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  /* grid-template-rows: 1fr 1fr 1fr; */
  justify-content: center;
  row-gap: 60px;
  column-gap: 60px;
  margin-top: 50px;
}

.card {
  box-shadow: 0 0px 10px #00000033;
  transition: 0.2s;
  border-radius: 20px;
  padding: 20px 0;
  text-align: center;
  width: 500px;
  /* background-color: #1E2225; */
}

.card:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.card-img img {
  width: 400px;
  height: 221px;
}

.card-body h3 {
  font-weight: 900;
  margin-top: 20px;
  color: #000;
  font-family: roboto;
  font-size: 20px;
  margin-bottom: 40px;
}



.btn-group {
  font-family: 'Poppins', sans-serif;
  padding: 12px 30px;
  margin-top: 20px;
  background-color: #30a7e7;
  color: #ffffff;
  border: 2px solid #30a7e7;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.btn-group:hover {
  box-shadow: 0 0 20px 20px #30a7e7 inset;
}

.btn {
  margin: 20px;
  background: none;
  color: #000000;
  border: 2px solid #000000;
  width: 25%;
  font-size: 14px;
  text-transform: capitalize;
}

.btn:hover {
  background-color: #30a7e7;
  color: #ffffff;
  border: 2px solid #30a7e7;
  transition: color 200ms ease-in;
  font-size: 14px;
}

.moreP #more {
  margin: 20px auto;
  display: block;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: #3930e7;
  text-align: center;
}

#more::after {
  content: ">>";
  margin-left: 20px;
}

.back a {

  margin: 40px 0;
  display: block;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: #3930e7;
  text-align: center;
}